.header_div {

    background-color: peachpuff;
    color:red;
}

.header_div img {

    width:110px;
}

.rside_div {

    background-color: pink;
    color: purple;
    padding: 10px;
    margin-top: 15px;
    border: 2px pink

}

.rside_div label  

{

    background:pink;
    width:310px;
    padding:10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px whitesmoke;
}

#image_holder {

  border: 2px black;
  width:310px;
  height:500px;
  box-shadow: 5px 5px 18px gray;
}

.text_image_and_result  {

    width:310px;
    height:500px;

}
.img-holder  {

    height:500px;
    padding-top: 10px;
}
